<div id="page-container">
    <app-sidebar></app-sidebar>

    <div id="main-container">
        <div class="card">
            <h2 style="text-align: left">Editar</h2>
            <hr><br>

            <form id="employee-form" style="text-align: right">
                <label for="id-input">ID 
                    <input [(ngModel)]="employee.id" type="number" id="id-input" name="id-input" placeholder="Número de identificação">
                </label>
                <label for="name-input">Nome 
                    <input [(ngModel)]="employee.employee_name" type="text" id="name-input" name="name-input" placeholder="Nome completo do funcionário">
                </label>
                <label for="salary-input">Salário
                    <input [(ngModel)]="employee.employee_salary" type="number" id="salary-input" name="salary-input" placeholder="Salário">
                </label>
                <label for="age-input">Idade
                    <input [(ngModel)]="employee.employee_age" type="number" id="age-input" name="age-input" placeholder="Idade">
                </label>
                <button (click)="updateEmployee()" class="btn-high-emphasis">Salvar</button>
            </form>
        </div>

        <app-employees-table></app-employees-table>
    </div>
</div>

