<nav>
    <ul>
        <li routerLink="/">
            <div class="hover-div hidden"></div>
            <img class="icon" src="../../../assets/imgs/menu.png">
            <a>Menu</a>
        </li>
        <li routerLink="/create">
            <div class="hover-div hidden"></div>
            <img class="icon" src="../../../assets/imgs/create.png">
            <a>Criar</a>
        </li>
        <li routerLink="/search">
            <div class="hover-div hidden"></div>
            <img class="icon" src="../../../assets/imgs/search.png">
            <a>Pesquisar</a>
        </li>
        <li routerLink="/edit">
            <div class="hover-div hidden"></div>
            <img class="icon" src="../../../assets/imgs/edit.png">
            <a>Editar</a>
        </li>
        <li routerLink="/delete">
            <div class="hover-div hidden"></div>
            <img class="icon" src="../../../assets/imgs/delete.png">
            <a>Deletar</a>
        </li>
    </ul>
</nav>


